.wrap{
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.bganimation{
  background: linear-gradient(-45deg,rgb(96, 1, 37),rgb(90, 0, 86),rgb(22, 0, 77));
  background-size: 400% 400%;
  animation: gradient 2s ease infinite;
}
@keyframes gradient{
  0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.home-cont{
  display: flex;
  width: 85vw;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 50px;
  margin-left: auto;
  margin-right: auto;
}
.home-dscp{
  border-left: solid 5px brown;
  padding: 30px;
  font-size:x-large;
}
.btn{
  font-size:large;
  font-weight: bold;
  padding: 10px 45px;
  border: none;
  border-radius: 20px;
  color:rgb(255, 232, 168);
  background-color:brown;
}
.btn:hover{
  cursor: pointer;
  background-color: rgb(1, 49, 49);
}

.demo-cont{
  width: 85vw;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 50px 0px;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  background-color: rgb(73, 22, 2);
  color: white;
}
.demo-pics{
  width:500px;
  border-radius: 10px;
}
.demo-dscp{
  padding: 30px;
  font-size:larger;
}

.about{
  text-align: center;
  padding: 30px 180px;
  font-size:x-large;
}

.authmodel{
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  top: 100px;
  left: 325px;
  width: 60vw;
  height:75vh;
  background: rgb(99, 0, 0);
  border-radius: 15px;
}
.auth-img-cont{
  color:white;
  text-align: center;
  width: 30vw;
}
.form-cont{
  width: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 60vh;
  border-radius: 15px;
  background: rgb(255, 255, 255);
}
.form-dt{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.form-dt input{
  padding: 8px 20px;
  border: solid 2px brown;
  border-radius: 10px;
}
.auth-close-btn{
  color: white;
  translate:58vw -35vh;
  cursor: pointer;
}

.transp-btn{
  font-size:large;
  font-weight: bold;
  padding: 8px 20px;
  border: solid 2px brown;
  border-radius: 20px;
  color:brown;
  background:none;
  margin-left: 15px;
}
.transp-btn:hover{
  cursor: pointer;
  color:rgb(0, 0, 0);
  border: solid 2px rgb(0, 0, 0);
}

.search-cont{
  opacity: 75%;
  position: absolute;
  left: 0px;
  top: 35vh;
  margin-left: 20px;
}
.search-bar{
  width: 50vw;
  height: 30px;
  padding: 8px 20px;
  border: none;
  border-radius: 10px;
  margin-right: 10px;
  font-size: 18px;
}

.descp{
  font-size: 48px;
  color: white;
}
.add-post{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
  background-color: white;
}
.form-dt input[type='file']{
  border: none;
  padding: none;
}
.form-dt input[type='file']::-webkit-file-upload-button{
  border: solid 2px brown;
  padding: 8px 20px;
  border-radius: 10px;
  background: white;
  margin:0px 20px;
}
.form-dt input[type='file']::-webkit-file-upload-button:hover{
  cursor: pointer;
  color:yellow;
  background-color: brown;
}
.dash-nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0px 20px;
  color: rgb(255, 255, 255);
  background: none;
  position: absolute;
  top: 0px;
}
.post-cont{
  width: 50vw;
  margin: 30px auto;
  background: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 15px;
}
.post-head{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.post-foot{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.post-foot h3:hover{
  cursor: pointer;
  color: brown;
}
.cmntbox{
  border: none;
  background-color: rgb(84, 83, 83);
  color: white;
  padding: 2px 20px;
  border-radius: 0px 10px 10px 10px;
  width: fit-content;
}
.cmnt-send-cont{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cmnt-send-cont input{
  width: 49vw;
  padding: 15px 20px;
  margin-top:25px;
  border: solid 2px brown;
  border-radius: 25px;
  font-size: 16px;
}
.nav{
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:space-between;
  padding-left:50px;
  padding-right:50px;
  color:rgb(255, 232, 168);
  background-color:rgb(73, 22, 2);
}
.nav a{
  margin-left: 30px;
  cursor: pointer;
}
.dash-bg{width: 100%;}
.dash-nav h1{
  margin-right: 68vw;
}
.dash-desc{width: 40vw;}
@media (max-width:767px){
  .home-cont{
    flex-direction: column;
    align-items: center;
    gap: 0px;
  }
  .demo-cont{
    width: auto;
    flex-direction: column;
    align-items: center;
  }
  .demo-dscp{
    font-size: medium;
  }
  .home-img{
    width: 90vw;
  }
  .about{
    text-align: center;
    font-size: small;
    width: 90%;
    padding: 0px 10px;
  }
  .demo-pics{
    width:100%
  }
  .nav{
    font-size: small;
    padding-left: 20px;
    padding-right: 20px;
  }
  .nav a{
    margin-left: 8px;
  }
  .home-dscp{
    font-size: medium;
  }
  .authmodel{
    flex-direction: column;
    left:20px;
    width: 85vw;
  }
  .auth-img-cont{
    display: none;
  }
  .authmodel .form-cont{
    background:none;
    color:white;
  }
  .auth-close-btn{
    translate: 39vw -20px;
    border: solid white 2px;
    padding: 5px;
    border-radius: 10px;
  }
  .dash-bg{width:auto;}
  .add-post{
    flex-direction: column;
    align-items: center;
    gap: 0px;
  }
  .add-post .descp{
    font-size: 32px;
    margin-left: auto;
    margin-right: auto;
  }
  .dash-nav h1{
    font-size: 24px;
    margin-right: 60px;
  }
  .transp-btn{
    font-size: medium;
    padding: 0px;
    border: none;
  }
  .search-cont{
    align-items: center;
  }
  .dash-desc{
    width: 80vw;
    opacity: 50%;
  }.dash-desc .descp{font-size: 32px;}
  .search-cont .btn{
    padding: 4px 10px;
  }.search-bar{opacity: 50%;}
  .search-bar:focus{opacity: 80%;}

  .post-cont{
    margin: 2px 0px;
    padding: 0% 1%;
    width: 98%;
  }
  .cmnt-send-cont{margin-bottom:6px;}
  .cmnt-send-cont input{
    width: 72vw;
    margin-bottom: 5px;
  }
}
